<div id='main_img'>
    <%= image_tag('main-img.png', alt: "home-img", id: 'home-img')%>
    <div id='main-text'>
        <p>Sometimes, Blood Can Do What <br>Money Cannot</p>
    </div>
    <div id='search-blood-div'>
            <%= image_tag('blood-request.png', alt: "blood-request-img", id: 'blood-request-img')%>
            <div class="overlay">
                <p>Request Blood</p>
            </div>
    </div>
    <div id='search-blood-div2'>
        <%= image_tag('search-donor.png', alt: "search-donor-img", id: 'search-donor-img')%>
        <div class="overlay">
            <p>Search Donor</p>
        </div>
    </div>
    <div id='search-blood-div3'>
        <%= image_tag('blood bank.png', alt: "blood-bank-img", id: 'blood-bank-img')%>
        <div class="overlay">
            <p>Search Blood Bank</p>
        </div>
    </div>
</div>
<div id='why_blood_div'>
    <div id='heading'>
        <h1>Why Donate Blood</h1>
    </div>
    <div id='content'>
        <div id='content-box-1'>
            <h2 class="box-num">Gift</h2>
            <p>Blood is the most precious gift that anyone can give to another person – the gift of life. A decision to donate your blood can save a life, or even several if your blood is separated into its components – red cells, platelets and plasma – which can be used individually for patients with specific conditions</p>
        </div>
        <div id="content-box-2">
            <h2 class="box-num">Need</h2>
            <p>There is a constant need for a regular supply of blood because it can be stored only for a limited period of time before use.Regular blood donation by a sufficient number of healthy people is needed to ensure that blood will always be available whenever and wherever it is needed.</p>
        </div>
        <div id="content-box-3">
            <h2 class="box-num">Use</h2>
            <p>Safe blood saves lives. Blood is needed by women with complications during pregnancy and childbirth, children with severe anaemia, often resulting from malaria or malnutrition, accident victims and surgical and cancer patients</p>
        </div>
    </div>
</div>
<div class="gallery">
    <div class="container">
        <div class="title">
            <h1 style="color: #ff195e;">Benefits</h1>
        </div>
        <div class="gallery-items">
            <div class="item">
                <%= image_tag('100th-birthday-cake-007.jpg', class: 'images')%>
                <div class="caption">
                    <h2 style="text-align: center;">Live a longer life</h2>
                    <p>The people who involve in the altruistic work have proven to live a longer life. Blood donation is altruistic works so it not only save lives of other but also helps you live longer and healthier.</p>                        </div>
            </div>
            <div class="item">
                <%= image_tag('what-is-cancer.jpg', class: 'images')%>
                <div class="caption">
                    <h2 style="text-align: center;">Lower the risk of cancer</h2>
                    <p>Cancer is the most feared and deadly disease. Blood donation helps in lowering the risk of cancer. By donating blood regularly the iron level in the blood is balanced and the risk of cancer-related to the liver, lungs, and intestine gets lower.</p>
                </div>
            </div>
            <div class="item">
                <%= image_tag('cholesterol-level.jpg', class: 'images')%>
                <div class="caption">
                    <h2 style="text-align: center;">Lower cholesterol level</h2>
                    <p>Blood contains iron, if the iron in blood is overloaded it can increase the chances of blockage in blood vessels. Blood donation can help to reduce the amount of iron in the blood thus helps in lower cholesterol.</p>
                </div>
            </div>
            <div class="item">
                <%= image_tag('RBCsWBCsPlatelets.jpg', class: 'images')%>
                <div class="caption">
                    <h2 style="text-align: center;">New blood cells</h2>
                    <p>Once we donate blood, the body tries to restore the blood loss. This helps in the production of the new blood cells and maintain good health</p>
                </div>
            </div>
            <div class="item">
                <%= image_tag('FreeMedicalcheckup.jpg', class: 'images')%>
                <div class="caption">
                    <h2 style="text-align: center;">Free Medical checkup</h2>
                    <p>Every donor goes through a routine checkup prior to donation. Body temperature is checked along with blood pressure, hemoglobin and pulse. Blood is tested for 13 infectious disease like HIV, West Nile Virus, hepatitis B and C and Syphilis. It gives you a cost free quick look into your health.</p>
                </div>
            </div>
            <div class="item">
                <%= image_tag('healing-process.jpg', class: 'images')%>
                <div class="caption">
                    <h2 style="text-align: center;">Speeds Up The Healing Process</h2>
                    <p>The body tries to adjust to the loss of red blood the cells we donate blood, these adjustments also help in accelerating the wound healing process </p>
                </div>
            </div>
            <div class="item">
                <%= image_tag('Hemochromatosis.jpg', class: 'images')%>
                <div class="caption">
                    <h2 style="text-align: center;">Reduced risk of Hemochromatosis</h2>
                    <p>Hemochromatosis is a disease that occurs due to increase in the absorption of iron by the body. Blood donation helps in reducing iron overload in the body and prevent Hemochromatosis</p>
                </div>
            </div>
            <div class="item">
                <%= image_tag('Untitled-design7.jpg', class: 'images')%>
                <div class="caption">
                    <h2 style="text-align: center;">Reduce risk of heart attacks</h2>
                    <p>Donating blood regularly is beneficial to prevent and reduce heart attacks and liver ailment. The risk of heart and liver related problem is caused by the iron overload in the body. Donating blood helps in maintaining the iron level in the body and thus reduce those risk.</p>
                </div>
            </div>
            <div class="item">
                <%= image_tag('MaintainWeight.jpg', class: 'images')%>
                <div class="caption">
                    <h2 style="text-align: center;">Reduce risk of heart attacks</h2>
                    <p>It is recommended to donate blood for those who are overweight. Regularly donating blood helps in weight loss and burn fat up to 650 calories</p>
                </div>
            </div>
            <div class="item">
                <%= image_tag('Savelives.jpg', class: 'images')%>
                <div class="caption">
                    <h2 style="text-align: center;">Save lives</h2>
                    <p>Every time we donate one pint of blood it helps save three lives, so if we donate four times in a year we end up saving 12 lives. We don’t have to be a superhero to save someone, a simple act of donating blood can also save lives.</p>
                </div>
            </div>
            <div class="item">
                <%= image_tag('Savelives.jpg', class: 'images')%>
                <div class="caption">
                    <h2 style="text-align: center;">Blood Storage</h2>
                    <p>There is no other method to manufacture blood; the only way to collect blood is from the people who are willing to donate. The blood that we donate is also stored at the blood bank after their usage and used in future when needed. Some chemicals are added to it in order to preserve it for long time and use it in future when needed</p>
                </div>
            </div>
        </div>
        <div class="pagination">
            <div class="prev disabled">Prev</div>
            <div class="page">Page <span class="page"></span></div> 
            <div class="next disabled">Next</div>
        </div>
    </div>
</div>

<%= javascript_pack_tag 'my_js' %>
